<!-- <h1>Search!</h1>

<form action="/users/search" method="GET">
  <input
    type="text"
    name="query"
    value="<%= @query %>">

  <input type="submit" value="Search Users!">
</form>

<ul>
  <% @users.each do |user| %>
    <li>
      <a href="<%= user_url(user) %>"><%= user.username %></a>
      <%= render 'follows/form', user: user %>
    </li>
  <% end %>
</ul> -->

<nav class="users-search">
  <label> Who are you looking for?
    <input type="text" name="user[username]">
  </label>
  <br>
  <ul class="users">
    <% @users.each do |user| %>
     <li>
      <%= user%> 
     </li>
    <% end %>
  </ul class="users">
</nav>